data/*
!data/archive/.gitkeep
!data/.gitkeep
models/*
!models/README.md
!models/archive/.gitkeep
*.pyc
.ipynb_checkpoints
data/*
!data/external/
models/*
!models/README.md
test/test/*
notebooks/archive/


__pycache__/
*.py[cod]
*$py.class
.idea/
.log
.png
*.sh
.idea
*.pyc
.ipynb_checkpoints
.DS_Store


!*/.gitkeep